
/* Colores y tamaños para un botón rosa */
.btn-pink {
    background-color: #b43c96;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.2s;
}

/* Colores y tamaños para un botón rojo */
.btn-red {
    background-color: #e70c29;
    border: none;
    color: white;
    padding: 10px 20px; /* un poco más grande */
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

/* Botones de opciones */

/* botón del engranaje */
.options-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 6px;
    transition: background 0.2s, transform 0.1s;
}

.options-btn:hover {
    background-color: rgba(0, 123, 255, 0.1);
    transform: scale(1.1);
}


/* --- Responsividad --- */
@media (max-width: 768px) {

    .btn-pink {
        width: 100%;
    }

}
